html,
body {
  max-width: 100%;
  max-height: 100%;
}

body{
  font-weight: 300;
	line-height: 1.8;	
  margin: 0 auto;
  text-rendering: optimizeLegibility;
  max-width: 1200px;
  color: #151515;
  font-family: 'Raleway', Arial, sans-serif;
}

.section {
  padding: 0.875rem 0;
}
.container {
  max-width: 1140px
}

#main {
  // position: relative;
  background-color: #FFF;
  margin-left: 0;
  padding-top: 5.5rem;
  @include atMedium{
    padding-top: 3.5rem;
  }
}

.navbar {
  position: relative;
  padding: .5rem 0rem;
}
.navbar-toggler {
  color: $mainRed;
  border-color: transparent;
}

.article--title {
  font-size: 1rem;
}


.navbar-brand {
  font-size: 0.875rem;
  border: 1px solid #000;
  padding: 0.5rem;
}

.navbar-nav .nav-link:first-child {
  padding-left: 0;
}

.nav-link{
  font-weight: 400;
}



hr { 
  display: block;
  overflow: hidden;
  border-width: 1px;
  width: 100%;
  border-color: #000;
}



hr { 
  display: block;
  overflow: hidden;
  border-width: 1px;
  width: 100%;
  border-color: #000;
}

.article--title{
  font-size: 1.1rem;
}
