h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 1.2rem;
  font-family: 'Quicksand', sans-serif;


}

.hero-section h1,
.hero-section h2 {
  font-weight: 400;
}

a,
a:visited {
  color: rgba(0,0,0,.7);
}

a:hover {
  color: $mainRed;
  text-decoration: none;
}



.section-title {
  font-size: 1.6rem;
  text-transform: uppercase;
}


.project--title {
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 500;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, .7);
  font-size: 14px;
}

h1 {
  font-size: 2.625rem;
}

// 42px
h2 {
  font-size: 2.25rem;
}

// 36px
h3 {
  font-size: 1.875rem;
}

// 30px
h4 {
  font-size: 1.5rem;
}

// 24px
h5 {
  font-size: 1.125rem;
}

// 18px
h6,
.lead,
li {
  font-size: 1rem;
}

// 16px
p,
span {
  // font-size: 0.875rem;
  font-size: 1rem;
}

// 14px
b,
strong {
  font-weight: 500;
}

// Homepage titles:

.headline--red-dot {
  display: inline-block;
  font-size: 1.125rem;
  text-transform: uppercase;
}

.headline--red-dot::after {
  content: "\A";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: $mainRed;
  display: inline-block;
  margin-left: 10px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.heading-meta {
  margin-bottom: 15px;
  display: block;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #999;
  font-weight: 500;
  letter-spacing: 5px;
}


