.bcg-parallax {
    padding: 250px 0;
    color: #fff;
    // background-color: #000;
    text-align: center;
    position: relative;
    overflow: hidden;
    @include atMedium {
        margin-left: 85px;
    }
    .bcg {
        background: url('http://www.unistar-aquatech.com/images/background/call-toaction-one-bg.png') no-repeat;
        background-size: cover;
        background-position: center center;
        position: absolute;
        width: 100%;
        height: 150%;
        top: 0;
        z-index: 0;
        opacity: 0.7;
    }

    .content-wrapper {
        position: absolute;
        top: 50%;
        left: 10px;
        height: 100px;
        margin-top: -50px;
        color: #000;
        text-align: right;
        width: 40%;

        ul li {
            list-style-type: none;
        }
    }
}
