
.blog {
  &--title {
    position: relative;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }
}

.article {
margin-bottom: 3rem;

  &--title {
    display: block;
    position: relative;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 1rem;
    a{
      color: $mainRed;
    }
  }
  &--author-name {
    display: inline-block;
    color: $mainRed;
  }
  &--excerpt {
    margin-top: 1rem;
  }
  &--image {
    max-width: 30px;
    margin-right: 5px;
  }
  &--meta {
    display: flex;
    align-items: center;
  }

}

.dropdown-item {
  font-weight: 300;
}

