/* =Project Section */

.projects {
  @include atMedium {
    padding-left: 70px;
  }

  .project {
    margin-bottom: 1.5rem;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    position: relative;
    background-color: #fff;

    &--title {
      font-family: 'Raleway', Arial, sans-serif;
      padding: 0.8rem 0;
      font-size: 0.9375rem;
      font-style: normal;
      font-weight: bold;
    }

    &--image {
      position: relative;

      img {
        -o-object-fit: cover;
        object-fit: cover;
        width: 100%;
      }

      span {
        position: absolute;
        bottom: -10px;
        right: 10px;
        color: #000;
        font-size: 1rem;
        background-color: #fff;
        padding: 0.7rem;
        -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
        box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
        cursor: pointer;

        @include atMedium {
          padding: 0.8rem;
        }
      }
    }
  }
}