.front-page .sidenav {
  opacity: 0;
}

// navigation
.sidenav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 1.2rem 0rem;
  z-index: 2;
  position: fixed;
  width: 100% !important;
  background-color: #fff;
  border-bottom: 1px solid #eee;

  img {
    width: 30px;
  }

  @include atMedium {
    z-index: 0;
    display: flex !important;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1.2rem;
    font-family: sans-serif;
    color: white;
    background-color: transparent;
    position: fixed;
    height: 100%;
    width: 70px !important;

    img {
      width: 30px;
    }
  }

  .contact-button {
    display: none;
    font-size: 1rem;

    @include atMedium {
      display: block;
      transform: rotate(-90deg);
      margin-bottom: 1.7rem;
    }
  }
}

// overlay navigation

.overlay .nav-container {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style-type: none;
      padding: 1rem 1rem 0;
      cursor: pointer;

      a {
        display: inline-block;
        font-size: 1.5rem;
        color: #000;
        position: relative;
        padding: 0;

        &.is-active {
          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 2px;
            width: 100%;
            background-color: #e12919;
          }
        }

        &:hover:after {
          content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 2px;
            width: 100%;
            background-color: #e12919;
        }
      }
    }
  }
}